@import url('https://fonts.googleapis.com/css2?family=Roboto');


html, body{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    height: 100%;
}

.sidebar{
    color: white;
    padding: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1992d4;
    gap: 48px;
    align-items: flex-start;
}

.sidebar > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 0 8px;
    font-size: 1.1rem;
}

.sidebar .logo{
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    align-items: center;
    gap: 16px;
}

.sidebar > div > a {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sidebar a {
    color: white;
}

.dashboard{
    display: flex;
    flex-direction: column;
    flex: 5;
    background-color: #e2e8f0;
}

.dashboard .header{
    display: flex;
    flex-direction: column;
    padding: 16px 40px;
    gap: 24px;
    flex: 1;
    background-color: white;
    box-shadow: 1px 3px 3px #c8c8c8;
}

.dashboard .main{
    flex: 5;
}

.header .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.top-header .searchbar{
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 4;
}

.searchbar .search-icon, .profile .bell-icon{
    height: 1.4em;
    width: 1.4em;
}

.searchbar input.search{
    border: none;
    border-radius: 16px;
    background-color: #e2e8f0;
    height: 24px;
    width: 100%;
}

.top-header .usericon{
    height: 32px;
    width: 32px;
}

.top-header .profile{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 2;
    justify-content: flex-end;
    font-size: 1rem;
}

.profile a{
    font-weight: bold;
    color: black;
}

.header .bottom-header{
    display: flex;
    justify-content: space-between;
}

.bottom-header .current-user{
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: bold;
}

.current-user .username{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1.2rem;
}

.current-user div:first-child{
    font-size: 0.8rem;
}

.bottom-header .usericon{
    height: 60px;
    width: 60px;
}

.bottom-header .action-buttons{
    display: flex;
    gap: 24px;
    align-items: center;
}

.action-buttons .btn{
    background-color: #1992d4;
    border: none;
    border-radius: 32px;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 90px;
}

.dashboard .main{
    display: flex;
    gap: 10px;
    padding: 24px 20px;
}

.main .section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .section .section-title{
    font-weight: bold;
}

.main .projects .section-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.project-actions svg{
    height: 1rem;
    width: 1rem;
}