html, body{
    height: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100%;
}

.sidebar{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1992d4;
}

.sidebar .logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard{
    flex: 5;
}